# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.hex
*.bin
*.list
*.d
*.elf
*.srec

# MATLAB 
*.mex*
*.txt
*.mat

# vim temp file
*.swp

# Binary
ReceivePackets

# visualization
*.pdf
*.fig
*.zip

# log files
log-*
*-0

#matlab temp file
*.m~
data
proj4
project3
project4
simulation/logall-
project3
data_old
test
test_loop

.DS_Store

*.jpg

*.log
*.dvi
*.aux
*.out
